<h1>Edit appartements</h1>

<%= simple_form_for @appartement do |f| %>
  <%= f.input :price %>
  <%= f.input :description %>
  <%= f.input :address %>
  <%= f.input :postcode %>
  <%= f.input :city %>
  <%= f.submit %>
<% end %>
